.logo{
    height: 70px;
}
.navbar-brand>img
{
    display:inline !important;
}
.navbar-brand{
    padding: 0px !important;
}
.page-scroll img{
    height: 60px;
}
.name {
    font-size: 2em !important;
}
.form-control{
    margin-bottom: 5px;
}
textarea.form-control {
    min-height: 140px !important;
}
.white_link{
    color: #000;
}
.well{
    
}